#principal{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: auto;

	}

header {
	width: 900px;
	height: 100px;
	border: 0px solid #000;
}

#logo{
	width: 200px;
	height: 100px;
	border: 0px solid #000;
	float: left;
}

.titulo{
	margin-top: 10px;
	font-size: 30px;
}

.sub-titulo{
	font-size: 14px;
	margin-top: -20px;
}

.menu{
	width: 800;
	height: 40px;
	border: 1px solid #ccc;
	float: right;
	margin-top: 40px;
	background: #36416e;
	
}

.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 15px;
	border: 0px solid #000;
	color: #d5d9e6;
}

.menu ul li a:hover{
	background: #d5d9e6;
	color: #36416e;
	transition: background 1, color 1,;

}

#slide{
	margin-top: -5px;
	width: 900px;
	height: 250px;
}

#categorias{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 15px;
}

.uno{
	width: 280px;
	height: auto; overflow: hidden;
	border: 1px solid #000;
	float: left;
	padding: 5px;
	text-align: center;
	color: #de2626;
}

.parrafo{
	color: #000;
	text-align: justify;
}

.dos{
	margin-left: 12px;
	margin-right: 12px;
}

.leer-mas{
	text-decoration: none;
	border: 1px solid #000;
	padding: 10px 20px 10px 20px;
	margin: 10;
}

.leer-mas:hover{
	background: #8a4d9e;
	color: #000;
	transition: backgroud 1s, color 1s;
}

#info{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin-top: 10px;
}

#izq{
	width: 585px;
	height: auto; overflow: hidden;
	border: 1px solid #000;
	float: left;
	padding: 5px; color:#de2626;
}

.img{
	margin-right: 7px;
	margin-bottom: 7px;
}

#der{
	width: 290px;
	height: auto; overflow: hidden;
	border: 1px solid #000;
	float: right;
}

footer{
	width: 900px;
	height: 100px;
	text-align: center;
}

#footer{
	width: 500px;
}
